:root{
    /*colors*/
    --color-text:#fff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --colors-bg:#04152d;


    /*fonts*/
    --fonts-roboto:"Roboto";

}